# Base configuration

export ZSH="$HOME/.oh-my-zsh"
ZSH_THEME="intheloop"

plugins=(git ssh-agent)

source $ZSH/oh-my-zsh.sh

# Plugin configuration

zstyle ':omz:update' mode auto                                # update automatically without asking
zstyle ':omz:update' frequency 14                             # update every 14 days
zstyle ':omz:plugins:ssh-agent' quiet yes
zstyle ':omz:plugins:ssh-agent' lazy yes
zstyle ':omz:plugins:ssh-agent' identities {{ .sshprivkey }}

# User configuration

{{- if eq .chezmoi.os "linux" }}
export SSH_ASKPASS='/usr/bin/ksshaskpass'
export SSH_ASKPASS_REQUIRE='prefer'
export PINENTRY_USER_DATA='gui'
{{- end }}
export GPG_TTY=$(tty)
export PATH="$PATH:$HOME/go/bin"
