{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

if [[ -f /opt/homebrew/bin/brew ]]; then
    eval "$(/opt/homebrew/bin/brew shellenv)"
fi

formulae=(
  "pinentry-mac"
)

casks=(
  "font-jetbrains-mono-nerd-font"
  "ghostty"
  "caffeine"
  "maccy"
  "thaw"
)

echo "Checking Homebrew formulae..."

for formula in "${formulae[@]}"; do
  if ! brew list --formula "$formula" &> /dev/null; then
    echo "Installing $formula..."
    brew install --formula "$formula"
  else
    echo "$formula is already installed."
  fi
done

echo "Checking Homebrew casks..."

for cask in "${casks[@]}"; do
  if ! brew list --cask "$cask" &> /dev/null; then
    echo "Installing $cask..."
    brew install --cask "$cask"
  else
    echo "$cask is already installed."
  fi
done
{{ end -}}
