# --- Local Overrides ---
Include ~/.ssh/config_local

# --- Managed by Chezmoi (Global Identity) ---
Host *
	AddKeysToAgent yes
	IdentityFile ~/.ssh/{{ .sshprivkey }}
	IdentitiesOnly yes
{{- if eq .chezmoi.os "darwin" }}
	UseKeychain yes
{{- end }}

Host naaslaarum
	HostName naaslaarum
	User nikhil
	PreferredAuthentications publickey

Host voslaarum
	HostName voslaarum
	User nikhil
	PreferredAuthentications publickey

