# --- Local Overrides ---
Include ~/.ssh/config_local

# --- Managed by Chezmoi (Global Identity) ---
Host *
	AddKeysToAgent yes
	IdentityFile ~/.ssh/{{ .sshprivkey }}
{{- if eq .chezmoi.os "darwin" }}
	UseKeychain yes
{{- end }}
